@import "../../styles/variables.scss";

.product-card {
  border: 1px solid $third-black;
  position: relative;
  border-radius: 5px;
  height: 335px;
  .product-card__image {
    margin-bottom: -9px;
    height: 100px;
    width: 100%;
  }
  .product-card__discount {
    position: absolute;
    top: 133px;
    left: 8px;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $third-color;
    color: #fff;
    font-size: 11px;
  }
  .product-card__info-container {
    font-size: 12px;
    padding: 8% 4% 0;
    color: $black;
    margin-bottom: 10px;

    p.product-card__product-name {
      color: $primary-black;
      font-weight: 600;
      font-size: 16px;
      margin: 0;
    }
    div.product-card__price-container {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      
      p.product-card__old-price {
        text-decoration: line-through;
        color: $secondary-black;
        font-weight: 500;
        margin: 0 0 0 10px;
        font-size: 10px;
      }
      .product-card__product-price {
        font-weight: 600;
        font-size: 24px;
        color: $primary-black;
        margin: 0;
      }
    }
  }
  a.product-card__go-to-product-page {
    background-color: $primary-color;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    color: $white;
    padding: 8px 60px;
    margin: 10px;

    &:hover {
      cursor: pointer;
      background: $third-color;
    }
  }
}

@media screen and (min-width: $large-devices-min) {
  .product-card {
    width: 220px;
    margin: 30px;

    .product-card__image {
      width: 100%;
      height: 180px;
      margin-bottom: -9px;
    }
    .product-card__discount {
      margin-top: -125px;
    }
    .product-card__info-container {
      color: $black;
      height: 80px;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
