.product-card {
  width: 120px;
  margin-bottom: 30px;
  .product-card__image {
    width: 100%;
    height: 100px;
    margin-bottom: -9px;
  }
  .product-card__discount {
    position: absolute;
    margin-top: -95px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7e0a0a;
    color: #fff;
  }
  .product-card__info-container {
    background: #7e0a0a;
    color: #fff;
    height: 75px;
    font-size: 12px;
    p {
      margin: 5px;
      height: 12px;
    }
    p.product-card__product-name {
      height: 30px;
    }
    div.product-card__price-container {
      display: flex;
      flex-direction: column;
      p.product-card__old-price {
        font-size: 10px;
        text-decoration: line-through;
        margin-bottom: 0;
      }
      .product-card__product-price {
        font-size: 14px;
      }
    }
  }
  a.product-card__go-to-product-page {
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: #fff;
    background: #7e0a0a;
    padding: 4px;
    border: 1px solid #7e0a0a;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      background: #fff;
      color: #7e0a0a;
      font-weight: 700;
    }
  }
}
