    // Colors
$primary-color: #f3c363;
$secondary-color: #f1e9bb;
$third-color: #e2844d;

$white: #fff;

$black: #000;
$primary-black: #333;
$secondary-black: #666;
$third-black: #999;



    // Device
$mid-devices-min: 768px;
$mid-devices-max: 1023px;
$large-devices-min: 1024px;