@import "../BurgerMenu/BurgerMenu.scss";
@import "../LoginLogo/LoginLogo.scss";
@import "../SearchBar/SearchBar.scss";
@import "../CartLogo/CartLogo.scss";

header {
  display: flex;
  flex-direction: column;
  #menuAndCartContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #logoContainer {
    display: flex;
    align-items: center;
    background: #7e0a0a;
    color: #fff;
    img {
      width: 75px;
      height: 75px;
      margin: 10px;
    }
    h1 {
      font-size: 20px;
      font-style: italic;
    }
  }
  #searchAndLoginContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
