@import "../SearchBar/SearchBar.scss";
@import "../CartLogo/CartLogo.scss";

header {
  display: flex;
  flex-direction: column;
  #cartContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  #siteLogoContainer {
    display: flex;
    align-items: center;
    background: #7e0a0a;
    color: #fff;
    img#siteLogo {
      width: 75px;
      height: 75px;
      margin: 10px;
    }
    h1 {
      font-size: 20px;
      font-style: italic;
    }
  }
}

@media screen and (min-width: $mid-devices-min) {
  header {
   
    #logosContainer {
      display: flex;
      justify-content: space-between;
      background: #7e0a0a;
      #siteLogoContainer {
        display: flex;
        align-items: center;
      }
    }
  }
}

