$mid-devices-min: 768px;
$mid-devices-max: 1023px;
$large-devices-min: 1024px;
@import "./views/HomePage/HomePage.scss";
@import "./views/ProductPage/ProductPage.scss";
@import "./views/Cart/Cart.scss";
